<div>
	<h2 id="titulo">Regístrate</h2>
</div>

<div id="form">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div id="input"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div id="input"><%= f.label :Contraseña %><br />
  <%= f.password_field :password %></div>

  <div id="input"><%= f.label :'Confirma tu contraseña'%><br />
  <%= f.password_field :password_confirmation%></div>

  <div><%= f.submit "Paso 2" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>