<div>
	<h3>Empleados</h3>
</div>

<div style="text-align: center">

  <div>
    
		<%= form_for(resource, :as => resource_name, :url => users_worker_path(resource_name)) do |f| %>

  		<div id="input"><%= f.label :email %><br />
  		<%= f.email_field :email %></div>

  		<div id="input"><%= f.label :Contraseña %><br />
  		<%= f.password_field :password %></div>
  		
  		<div id="input"><%= f.label :'Confirmar contraseña'%><br />
  		<%= f.password_field :password_confirmation%></div>
  	
  	 			
  <div><%= f.submit "Crear" %></div>
  
</div>
  
<% end %>

</div>

