

      <h2><%= Company.find_by_user_id(current_user.id).name %></h2>
	<div class="container-fluid">
  		<div class="row-fluid">
    		<div class="span2" style="margin-left: -3%;margin-top: 2%">
      		<!--Sidebar content-->
      		<ul class="nav nav-pills nav-stacked">
	  			<li style="font-size: 110%"><%= link_to 'Editar empresa', companies_path %></li>
  				
	  				<li><%= link_to 'Productos', new_product_path, :style => "color:#049cbd"%></li>
  				
  					<li><%= link_to 'Clientes', new_client_path, :style => "color:#049cbd" %></li>
  				
  					<li><%= link_to 'Pedidos', new_demand_path, :style => "color:#049cbd" %></li>
  				
  					<li><%= link_to 'Empleados', users_new_path, :style => "color:#049cbd" %></li>
  				<li class="divider"></li>
  				<a href="#myModal" role="button" class="btn" data-toggle="modal"><i class="icon-envelope"></i></a>
			</ul>
    		</div>
    	<div class="span10" style="margin-left: 5%">
   				<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   					<%= form_for Message.new, :remote => true , :url => {:action => "process_new_message"}, :html => { :id => 'new_message'} do |m| %>
					<%= m.hidden_field :sender_id, :value => current_user.id%>
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">Nuevo Mensaje</h3>
				  </div>
				  <div class="modal-body">
				    <p><%= m.number_field :receiver %></p>
					<p><%= m.text_area :text, {:title => 'Redacta tu mensaje', :style => 'resize: none; width: 97%; height: 150px'} %></p>
				  </div>
				  <div class="modal-footer">
				    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				     <%= m.submit 'Enviar', :class => "btn btn-primary" %>
				  </div>
				 	<% end %>
				</div>
      		
 			 	<div class="container" style="margin-top: 3%; max-height: 300px;overflow-y: auto; overflow-x: none; width: 90%;">
 			 		<% @company = Company.find_by_user_id(current_user.id)%>
	 			 	<% @events = Event.where(:company_id => @company.id)%>
	 			 	<% if @events.count == 0 %>
						  <div class="alert">
	  						<button type="button" class="close" data-dismiss="alert">&times;</button>
	  						<strong>Ojo!</strong> Tu lista de eventos está vacia
						  </div> 	
					<%end%>
	 			 	<% @events.order("updated_at DESC").each do |e|%>
	 			 	<div id="event"_<%= e.id %>" class="event_item_<%= e.type_mask %>" > 
						<%= render "timeline", :object => @event = e %> 
	 				</div>
 			 		<% end %>
 			 	</div>
 			 	
 			 <div class="row" style="margin-top: 3%">
	      		 <div class="span6">
	 			 	<div class="rowcent">
	 			
	 			 	<table class="table table-striped">
	  					
	  					<tr>
	    					<th>Nombre</th>
	    					<th>Precio</th>
	    				</tr>
						
						<% @products = Product.where(:user_id => current_user.id) %>
						<% if Product.where(:user_id => current_user.id).count == 0 %>
						  <div class="alert">
	  						<button type="button" class="close" data-dismiss="alert">&times;</button>
	  						<strong>Ojo!</strong> Tu lista de productos está vacia
						  </div> 	
						<%end%>
						<% @products.each do |product| %>
	  					<tr>
		    				<td><%= product.title %></td>
		    				<td><%= product.price %></td>
		  				</tr>
	  					<% end %>
	  					
					</table>
	 			 </div>
	 			 </div>
	  			 <div class="span6">
	  			 	<div class="rowcent">
	  			 	<table class="table table-striped"> 
	  					<tr>
	    					<th>CIF</th>
	    					<th>Nombre</th>
	    				</tr>
	  
						<% @clients = Client.where(:user_id => current_user.id) %>
						<% if Client.where(:user_id => current_user.id).count == 0 %>
						  <div class="alert">
	  						<button type="button" class="close" data-dismiss="alert">&times;</button>
	  						<strong>Ojo!</strong> Tu lista de clientes está vacia
						  </div> 	
						<%end%>
						
						<% @clients.each do |client| %>
	  					<tr>
	  						<td><%= client.cif %></td>
	    					<td><%= client.name %></td>
	  					</tr>
						<% end %>
					</table>
	  			 
	  			 </div>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<div class="rowcent">
						<div id="demand_table">
		 			 		<table class="table table-striped">
			  					<tr>
			    					<th>Fecha</th>
			    					<th>Cliente</th>
			    					<th>Estado</th>
			    				</tr>
			  
								
								<% if Demand.where(:user_id => current_user.id).count == 0 %>
								  <div class="alert">
			  						<button type="button" class="close" data-dismiss="alert">&times;</button>
			  						<strong>Ojo!</strong> Tu lista de pedidos está vacia
								  </div> 	
								<%end%>
								<% @demands = Demand.where(:user_id => current_user.id)%>
								<% @demands.each do |demand| %>
			
			  					<tr>
			  						<td><%= localize(demand.created_at, :format => :long) %></td>
			  							<% @clients = Client.where(:id => demand.client_id)%>
			  							<% @clients.each do |client|%>
			  						<td><%= client.name %></td>
			    					<td><%= demand.state %></td>
			    					<td><%= link_to '', demand_path(demand), :class => "icon-share" %></td>
			    					<td><%= link_to '', edit_demand_path(demand), :class => "icon-edit" %></td>
			    					<td><%= link_to '', demand, :class => 'destroyButton', method: :delete,
			   	  						data: { confirm: '¿Estás seguro?' }, :class  => "icon-trash" %></td>
			   					
			   					<% end %>
			  				    
			  				    </tr>
			  				    
							<% end %>
						
				     	</table>
				     </div>			
					</div>
				</div>
			</div>
			
    	</div>
  	</div>
  	
  </div>

<script>
$(function() {
$( "#dialog" ).dialog({
autoOpen: false,
show: {
effect: "scale",
duration: 500
},
hide: {
effect: "fade",
duration: 500
}
});
$( "#opener" ).click(function() {
$( "#dialog" ).dialog( "open" );
});
});
</script>	
