<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>index.html</title>
  <meta name="description" content="" />
  <meta name="author" content="Carlos" />

  <meta name="viewport" content="width=device-width; initial-scale=1.0" />

  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
</head>

<body>
  <div>
    <header>
      <h2>Tu empresa</h2>
    </header>
   
	<div class="container-fluid">
  		<div class="row-fluid">
    		<div class="span2">
      		<!--Sidebar content-->
      		<ul class="nav nav-list">
  				
	  			<li class="nav-header">Productos</li>
	  				<li><%= link_to 'Crear', new_product_path, :style => "color:#049cbd"%></li>
  				<li class="nav-header">Clientes</li>
  					<li><%= link_to 'Crear', new_client_path, :style => "color:#049cbd" %></li>
  				<li class="nav-header">Pedidos</li>
  					<li><%= link_to 'Crear', new_demand_path, :style => "color:#049cbd" %></li>
  				<li class="divider"></li>
  				<li><%= link_to 'Editar usuario', edit_user_registration_path %></li>
  				
			</ul>
      		
    		</div>
    	<div class="span10">
      		
      		<div class="rowcent">
 			 <div class="span6">
 			 	
 			 	<a href="/products"><table class="table table-striped"></a>
  					<tr>
    					<th>Nombre</th>
    					<th>Precio</th>
    				</tr>
  
					<% @products = Product.where(:user_id => current_user.id) %>
					<% if Product.where(:user_id => current_user.id).count == 0 %>
					  <div class="alert">
  						<button type="button" class="close" data-dismiss="alert">&times;</button>
  						<strong>Ojo!</strong> Tu lista de productos está vacia
					  </div> 	
					<%end%>
					<% @products.each do |product| %>
  					<tr>
    					<td><%= product.title %></td>
    					<td><%= product.price %></td>
  					</tr>
					<% end %>
				</table>
 			 	
 			 </div>
  			 <div class="span6">
  		
  			 	<a href="/clients"><table class="table table-striped"> </a>
  					<tr>
    					<th>CIF</th>
    					<th>Nombre</th>
    				</tr>
  
					<% @clients = Client.where(:user_id => current_user.id) %>
					<% if Client.where(:user_id => current_user.id).count == 0 %>
					  <div class="alert">
  						<button type="button" class="close" data-dismiss="alert">&times;</button>
  						<strong>Ojo!</strong> Tu lista de clientes está vacia
					  </div> 	
					<%end%>
					
					<% @clients.each do |client| %>
					
  					<tr>
  						<td><%= client.cif %></td>
    					<td><%= client.name %></td>
  					</tr>
					<% end %>
				</table>
  			 </div>
			</div>
			
			<div class="rowcent">
 			 <a href="/demands"><table class="table table-striped"></a>
  					<tr>
    					<th>Fecha</th>
    					<th>Cliente</th>
    					<th>Estado</th>
    				</tr>
  
					
					<% if Demand.where(:user_id => current_user.id).count == 0 %>
					  <div class="alert">
  						<button type="button" class="close" data-dismiss="alert">&times;</button>
  						<strong>Ojo!</strong> Tu lista de pedidos está vacia
					  </div> 	
					<%end%>
					<% @demands = Demand.where(:user_id => current_user.id) %>
					<% @demands.each do |demand| %>
					<%if demand.state == 'creado'%>
  					<tr style="color: #049cdb">
    					<td><%= localize(demand.created_at, :format => :long) %></td>
    					<% @clients = Client.where(:id => demand.client_id)%>
  						<% @clients.each do |client|%>
  						<td><%= client.name %></td>
    					<td><%= demand.state %></td>
    					<% end %>
  					</tr>
  					<% end %>
  					<%if demand.state == 'En proceso'%>
  					<tr style="color:  #f89406">
    					<td><%= localize(demand.created_at, :format => :long) %></td>
    					<td><%= Client.where(:id => demand.client_id).name %></td>
    					<td><%= demand.state %></td>
  					</tr>
  					<% end %>
					<% end %>
				</table>
			</div>
			
    	</div>
  	</div>
  </div>

    <footer>
    </footer>
    
  </div>
</body>
</html>
