<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @product.title %>
</p>

<p>
  <b>Descripción:</b>
  <%= @product.description %>
</p>

<p>
  <b>Precio:</b>
  <%= @product.price %>
</p>

<p>
  <b>Image url:</b>
  <%= @product.image_url %>
</p>


<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Atrás', products_path %>
