<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="input"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div id="input"><%= f.label :Contraseña %><br />
  <%= f.password_field :password %></div>
  		
  <div id="input"><%= f.label :'Confirma tu contraseña'%><br />
  <%= f.password_field :password_confirmation%></div>
  
  <div id="input"><%= f.label :'Rol'%><br />
  <%= f.number_field :roles_mask %></div>
  
  <%= f.hidden_field :company_id, :value => current_user.id %>

  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
