<h1>Lista de empleados</h1>

<table class = "table table-striped">
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<<<<<<< HEAD
<% @Users = User.where(:company_id => current_user.company_id)%>
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.image %></td>
    <td><%= link_to '', user , :class => "icon-share" %></td>
    <td><%= link_to '', edit_user_path(user), :class => "icon-edit" %></td>
    <td><%= link_to '', user, :class => 'destroyButton', method: :delete,
    		data: { confirm: '¿Estás seguro?' }, :class  => "icon-trash" %></td>
=======
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
>>>>>>> FETCH_HEAD
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo usuario', new_user_path %>
