	
	<div class="row-fluid">

	  	<div class="span1">
	  			<%= button_to 'Atrás', center_path, :class => "btn btn-small" %>
	  	</div>
	
	</div>
	
	<div class="row-fluid" style="margin-top: 5%">
		
		<div class="span4">
		<%= form_tag ('/users/update') do %>
		  <div id="input"><%= label_tag :'Rol'%><br />
		  <%= collection_select(:user, :roles_mask, Role.all, :id, :name) %> </div>
		  
		  <div id="input"><%= label_tag :'Estado'%><br />
		  <%= select("post", "category", ['active','inactive']) %> </div>
		  
  		  <div class="actions" style="margin-top: 10%">
    		<%= submit_tag "update", :class => "btn btn-primary" %>
  		  </div>
  		  <%= hidden_field_tag :id, @user.id%>
  		<% end %>
		</div>
		
		<div class="span8"style="margin-bottom: 40%">
		  <table class="table table-striped">
 		 <tr>
 		 	<th>email</th>
 		    <th>Rol</th>
    		<th>Estado</th>
  		</tr>
  		</thead>
  		<tbody>
		  <tr>
		    <td><%= @user.email %></td>
		    	<% @rol%>
		    	<% if @user.roles_mask == 1 %>
		    	<% @rol = 'Admin'%>
		    	<% elsif @user.roles_mask == 2 %>
		    	<% @rol = 'Comercial'%>
		    	<% elsif @user.roles_mask == 3 %>
		    	<% @rol = 'Repartidor'%>
		    	<% end %>
		    <td><%= @rol %></td>
    		<td><%= @user.state %></td>
    		<td><%= link_to '', edit_user_registration_path(@user), :class => "icon-edit" %></td>
    		<td><%= link_to '', registration_path(@user), :class => 'destroyButton', method: :delete,
   	  				 data: { confirm: '¿Estás seguro?' }, :class  => "icon-trash" %></td>
  		  </tr>

		</tbody>
		</table>
		</div>
		
	</div>