<h1 id="titulo3">Tus Clientes</h1>

<table id="table3">
  <tr id="th3">
    <th id="th3">Nombre</th>
    <th id="th3">CIF</th>
    <th id="th3">Dirección</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr id="tr3">
    <td id="td3"><%= client.name %></td>
    <td id="td3"><%= client.cif %></td>
    <td id="td3"><%= client.address %></td>
    <td id="td3"><%= link_to 'Mostrar', client %></td>
    <td id="td3"><%= link_to 'Editar', edit_client_path(client) %></td>
    <td id="td3"><%= link_to 'Destruir', client, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />
<div id="boton3">
	<%= link_to 'Crear', new_client_path %>
	<%= link_to 'Atrás', :controller => '/products', :action => 'index' %>
	<%= link_to 'Pedidos', :controller => '/demands', :action => 'index' %>
</div>
