<h1>Tus Clientes</h1>

<div id="clients">
	<div id="left_col">
		
		<%@client = Client.new%>
	<%= form_for(@client) do |f| %>
	  <% if @client.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>
	
	      <ul>
	      <% @client.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	<% end %>
	  
	<%= f.hidden_field :user_id, :value => current_user.id %>
	
	<div>
	  <div class="field">
	    <%= f.label :Nombre%>
	    <%= f.text_field :name %>
	  </div>
	  <div class="field">
	    <%= f.label :CIF %>
	    <%= f.text_field :cif %>
	  </div>
	  <div class="field">
	    <%= f.label :Dirección %>
	    <%= f.text_field :address %>
	  </div>
	  <div>
	  	<%= button_to 'Añadir Cliente', clients_path(:user_id => @client.user_id, :name => @client.name, :cif => @client.cif, :address => @client.address) %>
	  </div>
	</div>
	<% end %>

	
	</div>
	
	<div id="right_col">
		<table class="table table-striped">
  		<thead>
  		<tr>
    		<th>Nombre</th>
    		<th>CIF</th>
    		<th>Dirección</th>
    		<th></th>
    		<th></th>
   			<th></th>
		</tr>
		</thead>
		
		<% @clients.each do |client| %>
  		<tbody>
    		<td><%= client.name %></td>
    		<td><%= client.cif %></td>
    		<td><%= client.address %></td>
    		<td><%= link_to 'Mostrar', client %></td>
    		<td><%= link_to 'Editar', edit_client_path(client) %></td>
    		<td><%= link_to '', client, :class => 'destroyButton', method: :delete,
   	  				 data: { confirm: '¿Estás seguro?' }, :class  => "icon-trash" %></td>
		  </tbody>
		<% end %>
		</table>
	</div>
</div>



<br />
<div id="back">
	<%= link_to 'Atrás', :controller => '/products', :action => 'index' %>
	<%= link_to 'Home', :controller => '/center', :action => 'index' %>
</div>
