<h3>Tus Clientes</h3>

<div class="row">
	
  <div style="text-align: left">
  	<%= button_to 'Productos', :class =>"btn btn-mini", :controller => '/products', :action => 'index' %>
  </div>
  
  <div class="span4">
  	
  	<%@client = Client.new%>
	<%= form_for(@client) do |f| %>
	  <% if @client.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>
	
	      <ul>
	      <% @client.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	<% end %>
	  
	<%= f.hidden_field :user_id, :value => current_user.id %>
	
	<div>
	  <div>
	    <%= f.label :Nombre%>
	    <%= f.text_field :name %>
	  </div>
	  <div>
	    <%= f.label :CIF %>
	    <%= f.text_field :cif %>
	  </div>
	  <div>
	    <%= f.label :Dirección %>
	    <%= f.text_field :address %>
	  </div>
	  <div>
	    <%= f.submit :Crear%>
	  </div>
	</div>
	<% end %>
  </div>
  <div class="span7">
  	
  	<div style="text-align: right">
  	<%= button_to 'Terminar Registro', :class =>"btn btn-mini", :controller => '/center', :action => 'index' %>
  	</div>
  	
  	<table class="table table-striped">
  		<tr>
    		<th>Nombre</th>
    		<th>CIF</th>
    		<th>Dirección</th>
		</tr>

		<% @clients.each do |client| %>
  		<tr>
    		<td><%= client.name %></td>
    		<td><%= client.cif %></td>
    		<td><%= client.address %></td>
    		<td><%= link_to '', edit_client_path(client), :class => "icon-edit" %></td>
    		<td><%= link_to '', client, :class => 'destroyButton', method: :delete,
   	  				 data: { confirm: '¿Estás seguro?' }, :class  => "icon-trash" %></td>
		  </tr>
		<% end %>
	</table>
  </div>
</div>

<div class="progress progress-striped active">
  <div class="bar" style="width: 99%;">Añade a tus Clientes</div>
</div>
