<h1>Tus Clientes</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>CIF</th>
    <th>Dirección</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.cif %></td>
    <td><%= client.address %></td>
    <td><%= link_to 'Mostrar', client %></td>
    <td><%= link_to 'Editar', edit_client_path(client) %></td>
    <td><%= link_to 'Destruir', client, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear', new_client_path %>
<%= link_to 'Atrás', :controller => '/products', :action => 'index' %>

