<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @client.name %>
</p>

<p>
  <b>CIF:</b>
  <%= @client.cif %>
</p>

<p>
  <b>Dirección:</b>
  <%= @client.address %>
</p>


<%= link_to 'Editar Clientes', edit_client_path(@client) %> |
<%= link_to 'Atrás', clients_path %>
