<%= form_for(@demand) do |f| %>
  <% if @demand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@demand.errors.count, "error") %> prohibited this demand from being saved:</h2>

      <ul>
      <% @demand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="createDemand">
  	<%= f.submit "Hacer Pedido" %>
  </div>
  
  <div class="field">
    <%= f.label :Cliente %><br />
    <%= f.select :client_id , options_from_collection_for_select(Client.all, 'id', 'name'), :multiple => true %>
  </div>
  <div class="actions">
    
  </div>
<% end %>
