<%= form_for @demand do |f| %>
  <% if @demand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@demand.errors.count, "error") %> prohibited this demand from being saved:</h2>

      <ul>
      <% @demand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, :value => current_user.id%>
  
  
  <div class="field">
  	
  	<%= label_tag :Cliente%>
	<%= text_field_tag :client %>

  </div>
  
  <div class="field">
    <%= f.label :Estado %>
	   <select name="state">
		  	<option style= "color: #049cdb" value='aceptado'>Aceptado</option>
		  	<option style= "color: #f89406" value="en proceso">En proceso</option>
		  	<option style= "color: #ffc40d" value="en ruta">En ruta</option>
		  	<option style= "color: #46a546" value="entregado">Entregado</option>
			<option style= "color: red" value="rechazado">Rechazado</option>
		</select>
  </div> 
	
  <%= f.submit "Hacer Pedido", :class => 'btn btn-primary' %>
  	
<% end %>
	
<script>
	
	
 $(function() {
 
    $( "#client" ).autocomplete({
      minLength: 0,
      source: function(request, response) {
		   $.ajax({
				url: "/demands/autocomplete_client_name",
				dataType: "json",
				data: {term: request.term},
			success: function( data ) {
			response( data );
				}
			})
		},
      focus: function( event, ui ) {
        $( "#client" ).val( ui.item.name);
        return false;
      },
      select: function( event, ui ) {
        $( "#client_id" ).val( ui.item.id);
        return false;
      }	
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.name + "</a>" )
        .appendTo( ul );
    };
  });

</script>	
