 
 <%@client_name = params[:client]%>
 <%@company = Company.find(current_user.company_id)%>
 <%@client = Client.find_by_name(@client_name)%>
 <%@demand = Demand.find(params[:id])%>
 <%@line_items = LineItem.where(:demand_id => @demand.id)%>

<div class="span8 offset2">
<table width="620" border="0" cellpadding="5" cellspacing="0">
			<tbody>
				<tr>
					<td>
						&nbsp;
					</td>
				</tr>
				<tr>
					<td align="center" valign="middle">
						<table width="600" border="0" cellpadding="3" cellspacing="2" style="color:black;">
							<tbody>
								<tr><td colspan="5"><img src="" border="0"></td></tr>
								<tr >
									<td width="300" colspan="3">
	
									</td>
									<td width="300" colspan="2" align="right">
	
									</td>
								</tr>
								<tr >
									<td colspan="3">

									</td>
									<td align="right" colspan="2">

									</td>
								</tr>
								<tr >
									<td colspan="3">

									</td>
									<td align="right" colspan="2">
										Cliente: <%= @client.name %>
									</td>
								</tr>
								<tr >
									<td colspan="3">

									</td>
									<td align="right" colspan="2"></td>
								</tr>
								<tr >
									<td colspan="3">
										&nbsp;
									</td>
									<td align="right" colspan="2">

									</td>
								</tr>
								<tr >
									<td colspan="5">
										&nbsp;
									</td>
								</tr>
								<tr >
									<td colspan="5">

									</td>
								</tr>
								<tr >
									<td colspan="5">

									</td>
								</tr>
								<tr >
									<td colspan="5">
										<b>Cantidad:</b> 
									</td>
								</tr>
								<tr >
									<td colspan="5">
										&nbsp;
									</td>
								</tr>
								<tr >
									<td width="125">
										<strong>Fecha</strong>
									</td>
									<td width="250">
										<strong>Descripcion</strong>
									</td>
									<td width="75">
										<strong>Cantidad</strong>
									</td>
									<td width="75">
										<strong>Precio</strong>
									</td>
									<td width="75" align="right">
										<strong>Total</strong>
									</td>
								</tr>
								<tr bgcolor="#999999" style="">
									<td valign="top">
										<%= localize(@demand.created_at, :format => :short) %>
									</td>
									<% @line_items.each do |l| %>
									<td valign="top">
										<%= Product.find(l.product_id).description %>
									</td>
									<td valign="top">
										<%= l.quantity%>
									</td>
									<td valign="top">
										<%=  Product.find(l.product_id).price %>
									</td>
									<td valign="top" align="right">
										<%= Product.find(l.product_id).price * l.quantity %>
									</td>
									<% end %>
								</tr>
								<tr >
									<td colspan="5">
										&nbsp;
									</td>
								</tr>
								
								<tr >
									<td colspan="5">
										&nbsp;
									</td>
								</tr>
								
								<tr >
									<td colspan="2" width="300">
										Gracias!
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		
		<%= button_to 'Finalizar', center_path, :class => "btn btn-primary" %>
</div>