<h2>Pedidos</h2>
<div style="float: right; font-size: large">
	<%= link_to 'Atrás', :controller => '/center', :action => 'index' %>
</div>
<table class = "table table-striped">
  <tr>
    <th>Fecha</th>
    <th>Cliente</th>
    <th>Estado</th>
  </tr>
  
<% @demands = Demand.where(:user_id => current_user.id)%>
<% @demands.each do |demand| %>

  <tr>
  	<td><%= localize(demand.created_at, :format => :long) %></td>
  	<% @clients = Client.where(:id => demand.client_id)%>
  	<% @clients.each do |client|%>
  	<td><%= client.name %></td>
    <td><%= demand.state %></td>
    <td><%= link_to '', demand_path(demand), :class => "icon-share" %></td>
    <td><%= link_to '', edit_demand_path(demand), :class => "icon-edit" %></td>
    <td><%= link_to '', demand, :class => 'destroyButton', method: :delete,
   	  		data: { confirm: '¿Estás seguro?' }, :class  => "icon-trash" %></td>
   	<% end %>
  </tr>
<% end %>
</table>

<br />

<div style="float: right; font-size: large">
	<%= link_to 'Atrás', :controller => '/center', :action => 'index' %>
</div>