 <script>
     $( "#product" ).autocomplete({
      minLength: 1,
      source:  function(request, response) {
		   $.ajax({
				url: "/autocomplete.js",
				dataType: "json",
				data: {term: request.term},
			success: function( data ) {
			response( data );
				}
      focus: function( event, ui ) {
        $( "#product" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#product" ).val( ui.item.label );
        $( "#product-id" ).val( ui.item.value );
 
        return false;
      }
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.label + "</a>" )
        .appendTo( ul );
    };
  });
  </script>

<h2>Nuevo Pedido</h2>

<div class="row">
  
  <div class="span4">
	<%= render 'form' %>

	<%@line_item = LineItem.new%>
	<%= form_for(@line_item) do |l| %>
  	<% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
   <div class="field">
  	Producto <br /> <br />
 	<input id="product" />
	<input type="hidden" id="product_id" />
  </div>
  
   <div class="field">
    <%= l.label :Cantidad %><br />
    <%= l.number_field :quantity %>
  </div>
  
  <div class="field">
    <%= l.label :Estado %><br />
   <select name="l[state]">
  	<option style= "color: #049cdb" value="Aceptado">Aceptado</option>
  	<option style= "color: #f89406" value="En proceso">En proceso</option>
  	<option style= "color: #ffc40d" value="En ruta">En ruta</option>
  	<option style= "color: #46a546" value="Entregado">Entregado</option>
	</select>
  </div>
  
  <div class="field">
    <%= l.hidden_field :demand_id, :value => @demand.id %>
  </div>
  
  <div>
	<%= button_to 'Añadir Producto', line_items_path(:product_id => @line_item.product_id, :demand_id => @line_item.demand_id, :quantity => @line_item.quantity) %>
  </div>
  <% end %>
	</div>
  
  <div class="span8">
  	<table class="table table-striped">
  		
    		
    		  <tr>
         		<th>Producto</th>
         		<th>Cantidad</th>
        	  </tr>
			<% @demand = Demand.last %>
  	 		<% @line_items = LineItem.where(:demand_id => @demand.id) %>
  	 		<% @line_items.each do |item|%>
			  <tr>	
   	  			<td><%= Product.find(item.product_id).title %></td>
   	  			<td><%= item.quantity %></td>
   	  			<td><%= link_to '', item, :class => 'destroyButton', method: :delete,
   	  				 data: { confirm: '¿Estás seguro?' }, :class  => "icon-trash" %></td>
   	  		  </tr>
   	  		<%end%>
    </table> 
    	      
	</div>

</div>

<div style="text-align: center">
	<a href="/center"><button class="btn btn-medium" type="button">Atrás</button></a>
</div>
