<h2>Nuevo Pedido</h2>

<div class="row">
	 
	
  <div class="span4" style="margin-top: 15%">
	
	<%= render 'form', :object => @demand = @demand %>
	
  </div>
  
  <div class="span8">
  	
  		  <div class="row" style="margin-left: 0%">
			<%= form_for @line_item, :remote => true, :url => {:action => "create_line_item"} do |l| %>
			  <% if @line_item.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>
			
			      <ul>
			      <% @line_item.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
				
				<div class="row"> 
					<div class="span3">
					  	<div class="field">
						    <%= l.label :Producto %>
						    <%= text_field_tag :product %>
					  	</div>
					</div>
					  
					<div class="span3">
					  	 <div class="field">
						    <%= l.label :quantity %>
						    <%= l.number_field :quantity %>
						  </div>
					</div>  
					
					  <div class="field">
					  	
					    <%= l.hidden_field :demand_id, :value => @demand.id %>
					  </div>
					  
					<div class="span2" style="margin-top: 2.15%">
					  	<p><%= l.submit 'Añadir Producto', :class => 'btn btn-primary' %></p>	 
					</div>  
				
				</div>
			<% end %>
			
		</div>
	
	  	<div id="line_items_table">
			<%= render :partial => 'line_items_table', :object => @demand=@demand %>		
		</div>
    	      
	</div>

</div>

<div style="text-align: center;margin-top: 5%">
	<a href="/center"><button class="btn btn-medium" type="button">Atrás</button></a>
</div>

<script>
 $(function() {
 
    $( "#product" ).autocomplete({
      minLength: 0,
      source: function(request, response) {
		   $.ajax({
				url: "/demands/autocomplete_product_title",
				dataType: "json",
				data: {term: request.term},
			success: function( data ) {
			response( data );
				}
			})
		},
      focus: function( event, ui ) {
        $( "#product" ).val( ui.item.title);
        return false;
      },
      select: function( event, ui ) {
        $( "#product_id" ).val( ui.item.id );
        return false;
      }	
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
    	return $( "<li>" )	
	      .append("<a>"+ item.title +"</a>")
	      .appendTo( ul );

    };
  });
</script>