<h2>Nuevo Pedido</h2>

<div id="demands">
	<div id="left_col">
	<%= render 'form' %>

<%@line_item = LineItem.new%>
<%= form_for(@line_item) do |l| %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--  <div class="field">
    <%= l.label :Producto %><br />
    <%= l.number_field :product_id %>
</div> -->
	
   <div class="field">
    <%= l.label :Producto %><br />
    <%= l.select :product_id , options_from_collection_for_select(Product.all, 'id', 'title'), :multiple => true %>
  </div>
  
   <div class="field">
    <%= l.label :Cantidad %><br />
    <%= l.number_field :quantity %>
  </div>
  
  <div class="field">
    <%= l.hidden_field :demand_id, :value => @demand.id %>
  </div>
  
  <div>
	<%= button_to 'Añadir al Pedido', line_items_path(:product_id => @line_item.product_id, :demand_id => @line_item.demand_id, :quantity => @line_item.quantity) %>
	<% end %>
  </div>
 </div>
  
  <% @demand = Demand.last %>
  <% @line_items = LineItem.where(:demand_id => @demand.id) %>
  <% @line_items.each do |item|%>
  
  <div>
   </div>
   
   <div id="right_col">
   <tr>
   	<td><%= item.quantity %>&times;</td>
   	<td><%= Product.find(item.product_id).title %> </td>
   	<td><%= link_to 'Destruir', item, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
   </tr>
   </div>
 
</div> 
  
<% end %>
<%= link_to 'Atrás', demands_path %>