<h2>Nuevo Pedido</h2>

<div class="row">
  
  <div class="span5">
	<%= render 'form' %>

	<%@line_item = LineItem.new%>
	<%= form_for(@line_item) do |l| %>
  	<% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= l.label :Producto %><br />
    <%= l.select :product_id , options_from_collection_for_select(Product.all, 'id', 'title'), :multiple => true %>
  </div>
  
   <div class="field">
    <%= l.label :Cantidad %><br />
    <%= l.number_field :quantity %>
  </div>
  
  <div class="field">
    <%= l.hidden_field :demand_id, :value => @demand.id %>
  </div>
  
  <div>
	<%= button_to 'Añadir Producto', line_items_path(:product_id => @line_item.product_id, :demand_id => @line_item.demand_id, :quantity => @line_item.quantity) %>
  </div>
  <% end %>
	</div>
  <div class="span5">
  	 <% @demand = Demand.last %>
  	 <% @line_items = LineItem.where(:demand_id => @demand.id) %>
  	 <% @line_items.each do |item|%>
  	<table class="table table-striped">
    		<thead>
    		  <tr>
         		<th>Producto</th>
         		<th>Cantidad</th>
        	  </tr>
			</thead>
   	
   			<tbody>
   	  			<td><%= Product.find(item.product_id).title %></td>
   	  			<td><%= item.quantity %></td>
   	  			<td><%= link_to '', item, :class => 'destroyButton', method: :delete,
   	  				 data: { confirm: '¿Estás seguro?' }, :class  => "icon-trash" %></td>
     		</tbody> 
    	</table>       
	</div>
	<%end%>
</div>

<div style="text-align: center">
	<a href="/center"><button class="btn btn-medium" type="button">Atrás</button></a>
</div>
