<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @demand.client_id %>
</p>

<tr>
<% @line_item = LineItem.where(:demand_id => @demand.id) 
   @line_item.each do |line_item| %>
  <td><%= line_item.product_id %></td>
  <td><%= link_to 'Destruir', line_item, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
</tr>
  
<% end %>


<%= link_to 'Edit', edit_demand_path(@demand) %> |
<%= link_to 'Back', demands_path %>
