<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= Client.find(@demand.client_id).name %>
</p>


<% @line_item = LineItem.where(:demand_id => @demand.id) %>
<% @line_item.each do |line_item| %>
  <p>
    <td><%= Product.find(line_item.product_id).title %></td>
    <td><%= link_to 'Destruir', line_item, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
  </p>
  
<% end %> 
<%= link_to 'Edit', edit_demand_path(@demand) %> |
<%= link_to 'Back', demands_path %>