  <%= stylesheet_link_tag    "aplication", :media => "all" %>
  <%= javascript_include_tag "aplication" %>
  <%= csrf_meta_tags %>
<div class="span10">
	<div class="row" style="text-align: center">
		<h1>Información</h1>
	</div>
	<div class="row" style="margin-bottom: 3%">
		<div class="span4 offset1">
			<div id="imagen">
				<%= image_tag("empresa.jpg", :alt => "tabla feed") %>
			</div>
			<p style="font-size: large">Bercon es una aplicación web destinada a gestionar empresas cuyo modelo de 
				negocio consista en la distribución y venta de distintos productos a comercios
				de venta al público.
			</p>
		</div>
		<div class="span4" style="float: right; margin-top: 9.8%">
			<div>
				<%= image_tag("empresaG.jpg", :alt => "tabla feed") %>
			</div>
			<p style="font-size: large">Nuestra actividad principal consiste en la gestión empresas cuyos usuarios estén 
				registrados en el sistema, y de los productos, clientes, pedidos y empleados registrados en dicha empresa.
			</p>
		</div>
	</div>
</div>

