<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :company_id, :value => current_user.company_id %>
  
  <div id="input"><%= f.label :'Objeto'%><br />
  <%= f.number_field :object_id %></div>
  
  <div id="input"><%= f.label :'Tipo'%><br />
  <%= f.number_field :type_mask %></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
