<p id="notice"><%= notice %></p>

<p>
  <b>Empresa:</b>
  <%= @event.company_id %>
</p>

<p>
  <b>Objeto:</b>
  <%= @event.object_id %>
</p>

<p>
  <b>Tipo:</b>
  <%= @event.type_mask %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
