<div>
	<h2>Accede</h2>
</div>

<div style="text-align: center">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div id="input"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div id="input"><%= f.label :Contraseña %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :Recuerdame %></div>
  <% end -%>

  <div><%= f.submit "Acceder" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
