<h1>Tus Productos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.find(:user_id => current_user.id) do |product| %>
  <tr>
    <td><%= product.title %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
    <td><%= product.image_url %></td>
    <td><%= link_to 'Mostrar', product %></td>
    <td><%= link_to 'Editar', edit_product_path(product) %></td>
    <td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear Producto', new_product_path %>
<%= link_to 'Paso 3', :controller => '/clients', :action => 'index' %>