<h1 id="titulo3">Tus Productos</h1>

<div id="products">
	<div id="left_col">
		<%@product = Product.new%>
		<%= form_for(@product) do |f| %>
  			<% if @product.errors.any? %>
  			  <div id="error_explanation">
    			  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
			
    			  <ul>
    			  <% @product.errors.full_messages.each do |msg| %>
    			    <li><%= msg %></li>
    			  <% end %>
   			   </ul>
    			</div>
  			<% end %>
  
  			<%= f.hidden_field :user_id, :value => current_user.id%> 
  		<form class="form-horizontal">
  			<div class="control-group">
    			<label class="control-label" for="inputName">Nombre</label>
    			<div class="controls">
    			  <%= f.text_field :title %>
    			</div>
  			</div>
  			<div class="control-group">
    			<label class="control-label" for="inputPrecio">Precio</label>
    			<div class="controls">
    			  <%= f.text_field :price %>
    			</div>
  			</div>
  			<div class="control-group">
    			<label class="control-label" for="inputDescripcion">Descripción</label>
    			<div>
    			  <%= f.text_area :description %>
    			</div>
  			</div>
  			<div class="control-group">
    			<label class="control-label" for="inputImage_url">url imagen</label>
    			<div class="controls">
    			  <%= f.text_field :image_url %>
    			</div>
  			</div>
  			<div>
  				<%= f.submit :Crear%>
  			</div> 		
	  <% end %>	
	</form>
	</div>
	
	<div id="right_col">
		
		<table>
 		 <tr>
 		    <th>Nombre</th>
    		<th>Descripción</th>
    		<th>Precio</th>
    		<th>Image url</th>
    		<th></th>
    		<th></th>
    		<th></th>
  		</tr>

		<% @products.each do |product| %>
		  <tr>
		    <td><%= product.title %></td>
    		<td><%= product.description %></td>
    		<td><%= product.price %></td>
    		<td><%= product.image_url %></td>
    		<td><%= link_to 'Mostrar', product %></td>
    		<td><%= link_to 'Editar', edit_product_path(product) %></td>
    		<td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
  		  </tr>
		<% end %>
		</table>
		
	</div>
</div>

<br />
<div>
	<%= link_to 'Paso 3', :controller => '/clients', :action => 'index' %>
</div>
