<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
	<body class="home home-new  logged-out ">
		
  		<nav class="navbar">
  			
        	<div class="navbar navbar-static-top">
        	  <div class="container">
          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            	  <span class="icon-bar"></span>
            	  <span class="icon-bar"></span>
            	  <span class="icon-bar"></span>
          		</a>
          		<a href="/home/hello"><%= image_tag("BerconLogo4.jpg", :alt => "BerconLogo4", :width => "86", :height => "46", :class => "brand") %></a>
          		<div class="nav-collapse">
              
              
              <ul class="nav actions pull-right">
              	  <li class="divider-vertical"></li>
              	  <% if user_signed_in? %>
<<<<<<< HEAD
              	   	<li><a id="logout_link"><i class="icon-user"></i><%= current_user.email %></a></li>
              	  	<li><a id = "logout_link" <%= link_to "Salir", destroy_user_session_path, :method => :delete%></a></li>
=======
              	   	<li><a <%= link_to "Salir", destroy_user_session_path, :method => :delete %></a></li>
        			<li> <%= current_user.email %> </li>
>>>>>>> 3f75a1b7fce960b469f21d7153ae68af83febd4f
              	  <% else %>
                  	<li><a href="users/sign_in" data-link="modal" data-target="#login-modal">Accede</a></li>
                  	<li><a href="users/sign_up" data-link="modal" data-target="#signup-modal">Regístrate</a></li>
                  <% end %>
              </ul>
                        
          </div><!--/.nav-collapse -->
        </div>
      </div>
    
    </nav>
    
      
    <div class="container">
      <%= yield %>
    </div>
    
    <footer>
  		
  		
        <u1 class = "inline">
        	
			<a href="/home/info" class="btn btn-link" >Información</a>
			<a href="/home/infoProd/" class="btn btn-link" >Productos</a>
			<a href="/home/company" class="btn btn-link" >Compañía</a>
			<a href="/home/contact" class="btn btn-link" >Contacto</a>
			
        </u1>
        
        <p>
        	<%= image_tag("footerLogo.png", :width => "86", :height => "46", :class => "brand", :id => "footerLogoL") %>
        	&copy; 2012-2013 BerconTeam. 
        	<%= image_tag("footerLogo.png", :width => "86", :height => "46", :class => "brand", :id => "footerLogoR") %>
        </p> 
        
        <div class="follow-buttons">
            <div style="vertical-align:middle"><a href="https://twitter.com/berconTeam" class="twitter-follow-button" data-show-count="false">Follow @berconTeam</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
        </div>  
  
  	</footer>
  </body>
</html>