<!DOCTYPE html>
<html>
	<div id="user_nav">
  <% if user_signed_in? %>
    <%= current_user.email %>. 
    <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Regístrate", new_user_registration_path %> o
    <%= link_to "Accede a tu cuenta", new_user_session_path %>
  <% end %>
</div>
<head>
  <title>Bercon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= yield %>

</body>

<p>
	<a href="/home/hello" >Inicio</a>
</p>

<p>
	<a href="/home/info" >Información</a>
</p>

<p>
	<a href="/home/infoProd/" >Productos</a>
</p>

<p>
	<a href="/home/company" >Compañía</a>
</p>

<p>
	<a href="/home/contact" >Contacto</a>
</p>

</html>
