<!DOCTYPE html>
<html>
	<div id="user_nav">
  <% if user_signed_in? %>
    <%= current_user.email %>. 
    <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Regístrate", new_user_registration_path %> o
    <%= link_to "Accede a tu cuenta", new_user_session_path %>
  <% end %>
</div>
<head>
  <h1 id="bercon">BERCON</h1>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= yield %>

</body>
<div id="final">
<table id="table">
	<tr>
	<td>
			<a id="a1" href="/home/hello" >Inicio</a>
	</td>
	<td>
			<a id="a1" href="/home/info" >Información</a>
	</td>
	<td>
			<a id="a1" href="/home/infoProd/" >Productos</a>
	</td>
	<td>
			<a id="a1" href="/home/company" >Compañía</a>
	</td>
	<td>
			<a id="a1" href="/home/contact" >Contacto</a>
	</td>
	</tr>
</table>
</div>
</html>
